@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0px;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.app {
  background-image: url("./assets/sunny-day.avif");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

main {
  min-height: 100vh;
}

.search {
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  padding-bottom: 20px;
}
.search .bar {
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgb(255 255 255 / 40%);
  border-radius: 20px 20px 20px 20px;
  color: black;
  width: 70%;
}

.search .bar::placeholder {
  color: black;
}

.search .bar:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

.location-box .location {
  color: aliceblue;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(75, 75, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px rgba(75, 75, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px 30px;
  color: #fff;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(75, 75, 75, 0.5);
  text-align: center;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.weather-box .weather{
  
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 50, 0.5);;
}
